name: Deploy to VPS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_KEY }}
        script: |
          cd /home/bnsp1/bnsp-app
          git pull origin main
          docker build -t bnsp-app:v1 .
          docker stop bnsp || true
          docker rm bnsp || true
          docker run -d --name bnsp -p 80:80 bnsp-app:v1

